@layer reset, base, tokens, recipes, utilities;
@layer reset {
  @font-face {
    font-family: 'DNFBitBitv2';
    font-style: normal;
    font-weight: 700;
    src: url('//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf') format('opentype');
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    font-family: 'DNFBitBitv2';
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 107.8px */
    /* background-color: #2a7442; */
    position: relative;
  }

  button {
    cursor: pointer;
    border: transparent;
    background-color: transparent;
    font-family: 'DNFBitBitv2';
    line-height: 1.5;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    padding: 0;
  }

  input {
    font-family: 'DNFBitBitv2';
  }

  input::placeholder {
    color: #b5b5b5;
    font-family: 'DNFBitBitv2';
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

  @media (max-width: 768px) {
    .mobile {
      display: block;
    }

    .desktop {
      display: none;
    }
  }
}
