@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    position: relative;
  }

  button {
    cursor: pointer;
    border: transparent;
    background-color: transparent;
    padding: 0;
    outline: none;
  }
}

/* Storybook specific styles */
.sb-show-main,
.docs-story {
  background-color: #2c2929;
  color: white;
  min-width: 400px;
}
